.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

#page-title-area {
  height:fit-content;
}

.card-image {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
  border: solid 1px black;
}

.img-card {
  object-fit: contain;
  width: 200px;
}

.img-heading {
  object-fit: contain;
  width: 200px;
}

.img-deploy-heading,
.img-deploy-card {
  width:200px;
}

.card {
  max-height: 100%;
  height:fit-content;
  overflow: scroll;
  position: relative;
}

#heading {
  position: relative;
}

#heading .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
}


#space{
  overflow: scroll;
}

#window-container {
  max-height: 100%;
}

.page-card img {
  object-fit: contain;
  height: 200px;
}

.page-card {
  width: 25%;
}

.sub-image {
  display: inline;
  width: 48%;
}

.btn-symbol {
  height: 30px;
  max-height: 30px;
}

.btn-lg .btn-symbol {
  height: 50px;
  max-height: 50px;
}