
/* The following is copied from the style.css document from the homepage for the Firefox Emoji site http://mozilla.github.io/fxemoji/dist/FirefoxEmoji/index.html */
@font-face {
  font-family: "FirefoxEmoji";
  src: url('http://mozilla.github.io/fxemoji/dist/FirefoxEmoji/FirefoxEmoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.btn-symbol {
  font-family: "FirefoxEmoji"; /* This will apply the FirefoxEmoji font to the element */
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
  /* The following is for in case .btn-symbol is an <img> */
  height: 1em;  /* This will make the img height be the font-size of its parent element */
  display: inline-block;
  vertical-align: middle; /* This will vertically center the element within the button */
}

.btn-lg .btn-symbol {
  font-size: 3em;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

#page-title-area {
  height: fit-content;
}

.card-image {
  max-height: 100%;
  width: auto;
  object-position: center;
  border: solid 1px black;
}

.img-card,
.img-deploy-card {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  flex: 1 0 0%;
}

.img-deploy-card{
  height:100px
}

.img-div {
  /* background-image: url('path/to/image.jpg'); */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.btn-speech {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.img-search-results {
  width: 200px;
}

.img-search-results.active {
  border-color: var(--bs-blue);
  background-color: var(--bs-blue);
}

.img-search-results:hover {
  border-color: var(--bs-gray-dark);
}

.card {
  max-height: 100%;
  position: relative;
  flex: 1 0 0%;
}

#space .card {
  /* min-width: 30%; */
}

.card-deck {
  justify-items: stretch;
}

#heading {
  position: relative;
}

#heading .close,
.modal .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
}

.page-card img {
  object-fit: contain;
  height: 200px;
}

.page-card {
  width: 25%;
}

.sub-image {
  display: inline;
  width: 48%;
}

.card-left-sider {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-right: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
  flex: 3 0 0%;
}

.card-left-sider:first-child {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.img-heading,
.img-deploy-heading {
  flex: 1 0 0%;
  object-fit: contain;
  max-height: 150px;
}

.active-modal {
  animation: myAnim 1s ease 0s 1 normal forwards;
  background-color: blue;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}